.edit-profile {
    display: grid;
    justify-content: center;
}

.detail-container {
    display:flex;
    flex-direction: column;
    width: 300px;
}

.save-button {
    margin-top: 20px;
    background-color: #011627;
    color: #ffffff;
    font-size: 16px;
    border-radius: 20px;
    height: 30px;
    width: 140px;
}

.save-button:hover {
    font-weight: bold;
    background-color: #702632;
}

.cancel-button {
    margin-top: 20px;
    background-color: #ffffff;
    color: #011627;
    font-size: 16px;
    border-radius: 20px;
    height: 30px;
    width: 140px;
}

.cancel-button:hover {
    font-weight: bold;
    background-color: #e9e9e9;
}