.product-menu {
    display: flex;
    flex-direction: row;
  }
  
  .sub-categories {
    max-width: 200px;
    min-width: 200px;
    margin-top: 15px;
    margin-left: 40px;
    border-radius: 14px;
      box-shadow:  7px 7px 14px #ebebeb,
               -7px -7px 14px #ffffff;
    border:1px solid #f1f0f0
  }

  .sub-categories h3 {
    margin-top: 20px
  }