.profile-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    margin: 15px;
    padding: 40px;
    border-radius: 8px;
    overflow: hidden;
    grid-template-rows: 4fr, 2fr;
    border-radius: 14px;
    box-shadow:  7px 7px 14px #ebebeb,
             -7px -7px 14px #ffffff;
}

.details-card img {
    max-width: 100%;
    height: auto;
  }

.my-button {
    margin-top: 20px;
    margin-right: 10px;
    background-color: #ffffff;
    color: #011627;
    font-size: 20px;
    border-radius: 20px;
    height: 50px;
    width: 150px;
}

.my-button:hover {
    font-weight: bold;
    background-color: #e9e9e9;
}

.sign-out-button {
    margin-top: 20px;
    background-color: #011627;
    color: #ffffff;
    font-size: 16px;
    border-radius: 20px;
    height: 30px;
    width: 120px;
}

.sign-out-button:hover {
    font-weight: bold;
    background-color: #702632;
}