.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #d8d8d8;
    background-color: white;
    -webkit-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
    box-shadow: 2px 15px 12px rgba(0, 0, 0, 0.57);
    color: #011627;
}

.form h1 {
  border-bottom: solid #011627;
}

fieldset {
  border: 0;
}

legend {
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
}

.button {
  border-radius: 12px;
  height: 50px;
  width: 50%;
  background-color: #702632;
  font-size: 20px;
  color: white;
  box-shadow: 0 4px #999;
}

.button:hover {
  background-color: #ba1632;
} 

.button:active {
  background-color: #ba1632;
  box-shadow: 0 2px #666;
  transform:translateY( 4px );
}


*/
:root {
  --main-color:#011627; 
  --secondary-color:#FFFFFF;
  --on-hover:#e4e9ed; 
  --wine-red: #702632; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

a, router-link {
  text-decoration: none;
}

li {
  list-style: none; 
}

/* ICONS */
.icon-medium {
  width:3em;
  opacity:0.6;
}
